{% extends 'base.html' %}
{% block conteudo %}

<form method="POST" action="{{url_for('router.cadCartao.cadastroCartao')}}">
    <div class="row">
      <div class="col-sm-2">
        <br>

        <label class="form-label" for="form3Example4">Número da  Vaga</label>
        <input type="text" minlength="18" maxlength="8" class="form-control" placeholder="Número da Vaga"><br>

        <label class="form-label" for="form3Example4">Tipo da Vaga</label>
        <select>
            <option value="" disabled selected>Selecione uma opção</option>
			<option value="ac">Vagas Gerais(G)</option>
			<option value="al">Vagas de Acessibilidade(A)</option>
		</select><br><br>
        
      </div>
    </div>
    <button type="submit" name="bt1" value="{{ idUser}}" class="btn btn-secondary"style="width:15rem;height:2.5rem">Cadastrar Vaga</button>
    <hr>
    <br>
</div>
</form>
{% endblock conteudo %}

