{% extends 'base.html' %}

{% block conteudo %}
<div>
  <br>
  <a  href="{{url_for('router.vagas.Cadastrar')}}" class="btn btn-secondary"style="width:10rem;height:2.5rem" role = 'buttom' aria-pressed="true"> Cadastrar Vaga </a>
  </div>
  <!--Alter -->
<h1>Reservar Vaga</h1>
<div class="container" id="container-vagas">
  
</div>

<script> 
  function adicionarVaga(){
    let container = document.getElementById("container-vagas")
    let numeroVagas = 12
    cont = 0
    /* select count(idRegistro) from registro */
      while(cont < numeroVagas){
        let vagas = document.createElement("div")
        vagas.className = "espaco-vagas"
        vagas.innerHTML = "vaga: " + (cont+1)
      
        container.appendChild(vagas)
        cont ++;
      }
  }
  adicionarVaga()
  

</script>
{% endblock conteudo %}



