{% extends 'base.html' %}

{% block conteudo %}
<div>
  <a href="{{url_for('router.vagas.Cadastrar')}}" class="Cadastrar novas vagas"> Cadastrar Vagas</a>
  </div>
  <!--Alter -->
<h1>Reservar Vaga</h1>
<div class="container" id="container-vagas">
  
</div>

<script> 
  function adicionarVaga(){
    let numeroVagas = 150
    cont = 0
    const container = document.getElementById("container-vagas")
      /* select count(idvagas) where tipo = "n" */
    while(cont < numeroVagas){
      let vagas = document.createElement("div")
      vagas.className = "espaco-vagas"
      vagas.innerHTML = "vaga: " + (cont+1)
      
      container.appendChild(vagas)
      cont ++;
    }
  }

  adicionarVaga();
</script>
{% endblock conteudo %}



