{% extends 'base.html' %}

{% block conteudo %}
<div style="text-align: right;">
  <br>
  {% if current_user.nome == "ADMIN" %} 
  <a href="{{url_for('router.vagas.Cadastrar')}}" class="btn btn-primary" style="width:10rem;height:2.5rem"
    role='buttom' aria-pressed="true"> Cadastrar Vaga</a>
  {% endif%}
</div>
<!--Alter ajustar para ficar responcivo-->
<h1 class="titulo-reserva">Reservar Vaga</h1>
<div class="legenda-vagas">
  <div class="legenda-item">
    <div class="quadrado legenda-vaga-verde"></div>
    <p class="texto-legenda">Vaga Livre</p>
  </div>
  <div class="legenda-item">
    <div class="quadrado legenda-vaga-amarela"></div>
    <p class="texto-legenda">Vaga Reservada</p>
  </div>
  <div class="legenda-item">
    <div class="quadrado legenda-vaga-vermelha"></div>
    <p class="texto-legenda">Vaga Ocupada</p>
  </div>
  <div class="legenda-item">
    <div class="quadrado legenda-acessibilidade"></div>
    <p class="texto-legenda">Vaga de Acessibilidade</p>
  </div>
</div>
<div class="container" id="container-vagas" data-count-vagas="{{CountVagas}}">

</div>

<script>

  function adicionarVaga() {
    let totalReservada = 0;
    let descriVaga = JSON.parse('{{descricaoVagas |safe}}')
    let usuarioLogado = JSON.parse('{{current_user.id |safe}}')
    let idVagas = JSON.parse('{{idVagas |safe}}')
    // Desestruturando as propriedades do objeto em variáveis separadas
    let { situacaoVaga, IdVaga } = JSON.parse('{{statusVagas |safe}}')
    let container = document.getElementById("container-vagas");
    // ParseInt para garantir que seja tratado como número
    let totalVaga = parseInt(container.dataset.countVagas);
    let cont = 0;
    let vaga;

    while (cont < totalVaga) {
      totalReservada = 0;
      vaga = document.createElement("div");
      //vaga.className = "espaco-vagas";
      vaga.classList.add("espaco-vagas", "vagas");

      // Definindo o ID para cada div de vaga
      vaga.setAttribute("id", idVagas[cont]);
      vaga.setAttribute("value", descriVaga[cont])

      if (vaga.getAttribute("value") === "A") {
        vaga.classList.remove("espaco-vagas");
        vaga.classList.add("espaco-vagas-acessibilidade-livre");
      }
      while (totalReservada < Object.keys(IdVaga).length) {
        if (IdVaga[totalReservada] == idVagas[cont]) {

          if (vaga.getAttribute("value") === "G" && situacaoVaga[totalReservada] === "O") {
            vaga.classList.remove("espaco-vagas");
            vaga.classList.add("espaco-vagas-ocupada");

          } else if (vaga.getAttribute("value") === "G" && situacaoVaga[totalReservada] === "R") {
            vaga.classList.remove("espaco-vagas");
            vaga.classList.add("espaco-vagas-reservada");
          }
          if (vaga.getAttribute("value") === "A" && situacaoVaga[totalReservada] === "O") {
            vaga.classList.remove("espaco-vagas");
            vaga.classList.add("espaco-vagas-acessibilidade-ocupada");

          } else if (vaga.getAttribute("value") === "A" && situacaoVaga[totalReservada] === "R") {
            vaga.classList.remove("espaco-vagas-acessibilidade-livre");
            vaga.classList.add("espaco-vagas-acessibilidade-reservada");

          } else if (vaga.getAttribute("value") === "A") {
            vaga.classList.remove("espaco-vagas-acessibilidade-livre");
            vaga.classList.add("espaco-vagas-acessibilidade-livre");
          }
        }
        totalReservada++;
      }

      container.appendChild(vaga);
      cont++;
    }
    var divs = document.querySelectorAll('div.vagas');


    var divOcupadas = ["espaco-vagas-ocupada", "espaco-vagas-reservada", "espaco-vagas-acessibilidade-ocupada", "espaco-vagas-acessibilidade-reservada"];

    // Adiciona um evento de clique a cada div, tive que adicionar mais uma  div para isso
    divs.forEach(function (div) {
      div.addEventListener('click', function () {
        // Verifica se a div possui alguma das classes proibidas
        var vagasOcupadas = divOcupadas.some(function (cls) {
          return div.classList.contains(cls);
        });

        if (!vagasOcupadas) {

          let id = this.id;
          var data = { vagaId: id, userId: usuarioLogado };

          var confirmReservation = confirm("Deseja realmente reservar esta vaga: " + id);

          if (!confirmReservation) {
            return;
          }

          // Faz uma solicitação para a rota /reserve usando POST
          fetch('/reserva', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
            .then(response => response.json())
            .then(data => {
              // Lida com a resposta
              console.log('Success:', data);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
          alert('Vaga reservada com sucesso!!');
          location.reload();
        } else {
          console.log('A vaga que voce selecionou esta reservada ou ocupada:', div.className);
          alert('A vaga já está ocupada ou reservada. Por favor escolher outra');
          location.reload();
        }
      });
    });
  }
  adicionarVaga();
</script>

{% endblock conteudo %}