{% extends 'base.html' %}
{% block conteudo %}
<div>
  <h2 style="text-align: center;"> Autopark:</h2><br>
  <h2 style="text-align: center;"> Seu Estacionamento Confiável e Moderno </h2> <br><br>

  <div class="container text-center text-white overflow-hidden d-flex">
    <img src="{{url_for('static', filename='Images/sobrenoscarro.jpg')}}" class="img-fluid mx-auto d-block" alt="Imagem responsiva" style="width: 600px; border: 10px solid #333131;">
</div>

  <div>
    <br><br><br>
    <h3>Autopark:</h3>
    <p align="justify">Bem-vindo à Autopark, o seu parceiro confiável para todas as suas necessidades de estacionamento.
      Estamos dedicados a oferecer uma experiência de estacionamento conveniente, segura e moderna para nossos clientes.
      Nossa missão é tornar a sua jornada mais tranquila, proporcionando um lugar confiável para estacionar seu veículo
      enquanto você se concentra no que é mais importante para você.</p>

    <h4>Nossa História:</h4>
    <p align="justify">Fundada em janeiro 2021, a Autopark rapidamente se estabeleceu como um líder na indústria de
      estacionamentos. Começamos com a visão de criar um ambiente onde os clientes pudessem confiar em estacionar seus
      veículos com facilidade e sem preocupações. Ao longo dos anos, nossa dedicação à inovação e ao atendimento ao
      cliente nos permitiu crescer e expandir.</p>

    <h5>Nossos serviços:</h5>
    <ul>
      <li>
        <strong>Estacionamento Seguro:</strong> Priorizamos a segurança do seu veículo. Nossas instalações são
        monitoradas por sistemas de segurança de última geração, incluindo câmeras de vigilância e controle de acesso,
        garantindo a proteção do seu patrimônio.
      </li>
      <li>
        <strong>Atendimento ao Cliente Excepcional:</strong> Nossa equipe treinada está pronta para ajudar. Se você
        precisar de assistência ou tiver alguma dúvida, nossos atendentes simpáticos e prestativos estarão à disposição
        para garantir uma experiência tranquila.
      </li>
      <li>
        <strong>Reservas Online:</strong> Oferecemos a conveniência de reservar sua vaga de estacionamento
        antecipadamente por meio do nosso website ou aplicativo móvel. Nunca mais perca tempo procurando um local para
        estacionar.
      </li>
      <li>
        <strong>Compromisso com a Sustentabilidade:</strong> Na Autopark, acreditamos na importância de cuidar do nosso
        planeta. Implementamos práticas sustentáveis, desde a eficiência energética em nossas instalações até a promoção
        de veículos elétricos. Ao escolher a Autopark, você também está fazendo uma escolha amiga do meio ambiente.
      </li>
      <li>
        <strong>Recarga de Veículos Elétricos:</strong> Estamos comprometidos com a sustentabilidade. Oferecemos
        estações de recarga para veículos elétricos, permitindo que você carregue seu carro enquanto está estacionado.
      </li>

    </ul>
    <h6>Junte-se a Nós:</h6>
    <p align="justify"> Estamos ansiosos para receber você em nossas instalações e proporcionar uma experiência de
      estacionamento de qualidade. Seja para uma breve parada ou para estadias mais longas, o Autopark é o lugar onde
      você pode confiar. Entre em contato conosco para mais informações, faça sua reserva online ou visite-nos
      pessoalmente em uma de nossas localidades.</p>
  </div>
</div>
{% endblock conteudo %}